.Legend {
    display: flex;
    align-items: center;
    flex-shrink: 1;
    overflow: hidden;
    width: 120px;
    margin-left: 1.5em;
    margin-top: 15%;
  }

.Svg {
    height: 100%;

    text {
        font-size: 12px;
    }
}
